:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fffbfb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
width: 70%;
padding-left: 20%;
}

.logo-navbar {
  width: 80%;
  padding: 1em;
}

.img-header {
  width: 100%;
  padding: 0; 
}

.relative-container {
  position: relative;
}

.button-container {
  width: 10rem;
  font-size: 1.2rem;
  position: absolute;
  top: 88%;
  left: 80%;
  padding: 0.9rem;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border: 2px #000;
  box-shadow: #a1a1da 0px 0px 10px, #6a6ad5 0px 1px 6px;
}

.navbar {
  height: 100vh;
  width: 20vw;
  position: fixed;
  z-index: 1; 
  background-color: white ;
  left:0;
  top:0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar ul li a {
    padding: 6px 8px 1px 20px;
    text-decoration: none;
    font-size: 120%;
    color: black;
    display: block;
    transition: 0.3s;
}

.navbar ul li a:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

a {
  font-weight: 500 ;
  color: #545459;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.redes-sociales {
  display: inline-flex;
  width: 50vw; /* Ancho total de las redes sociales */
}

.redes-sociales img {
  width: 15px; /* Tamaño de cada ícono de red social */
  height: 15px; /* Tamaño de cada ícono de red social */
  margin-top: 30%;
  margin-left: 30%;
  margin-right: 15px; /* Espacio entre cada ícono de red social */
}


.section-form {
  display: inline-flex;
  width: 100vw;
}

.p1-home {
  display: flex;
  width: 85%;
  font-size: 1.1em;
  line-height: 1.2;
  color: #000;
  justify-content: space-around;
  margin: 3% 1% 1% 1%;
  padding: 1% 0% 1% 5%;
}

.p2-home {
  display: inline-flex;
  width: 40vw;
  font-size: 1.5em;
  line-height: 0%;
  color: #000;
  padding: 0%;
  margin-bottom: 0%;
}

.mi-formulario {
  margin: 10% 30% 0% -37%; 
}

.mi-formulario ul {
  padding: 0; /* Elimina el relleno predeterminado */
  background-color: white; 
}

.mi-formulario li {
  margin-bottom: 0%; /* Espacio entre elementos */
  list-style: none;
}

.mi-formulario label {
  font-size: 1rem;
  display: block; /* Muestra las etiquetas en una línea nueva */
  margin-bottom: 3%; /* Espacio inferior */
}

.mi-formulario input[type="text"],
.mi-formulario input[type="email"],
.mi-formulario textarea {
  width: 20vw;
  padding:5% 5% 5% 5%;
  margin: 1% 0% 0% 0%;
  margin-bottom: 3%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
  color:#000; 
}

.mi-formulario textarea {
  height: 10vh; /* Altura del área de texto */
}

.mi-formulario input[type="submit"] {
  width: 20vw;
  background-color: #9dce9e;
  color: white;
  border: none;
  padding: 2%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mi-formulario input[type="submit"]:hover {
  background-color: #45a049;
}

.p1-numerologie {
  display: inline-flex;
  width: 50vw;
  font-size: 1.4em;
  line-height: 1.1;
  color: #000;
  text-align: left;
  justify-content: left;
  padding: 3% 10% 3% 3%;
}

h1 {
  font-size: 2.5em;
  width: 50vw;
  line-height: 1.1;
  color: #000;
  text-align: center;
  justify-content: center;
  border-bottom-style: solid ;
  margin: 3% 2% 7% 5%;
  padding: 0% 0% 2% 0%;
}

.img-curso, 
.img-libro {
  display: inline-flex;
  width: 30%;
  margin: 0% 0% 1%;
  padding: 5%; 
}

.section4 {
  display: inline-flex;
  width: 80vw;
}

.p4-home {
  display: inline-flex;
  width: 50%;
  font-size: 1.4em;
  line-height: 1.1;
  color: #000;
  text-align: left;
  justify-content: left;
  padding: 3% 10% 3% 3%;
}

.img-home1 {
  width: 40%;
  padding: 3% 0% 3% 10%; 
}

.section5 {
  display: flex;
  width: 100%;
}

.slider-container {
  width: 50%;
  margin-bottom: 5%;
}

.paragraph-container {
  width: 50%;
  font: 1.3em sans-serif;
  line-height: 1.4;
  padding: 12% 0% 0% 15%; /* Ajusta el espacio interior según sea necesario */
  color: #000;
  overflow: hidden; /* Oculta el exceso de texto */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto si se corta */
}

.limit-text {
  white-space: nowrap; /* Evita que el texto se envuelva */
}

.img-slider1,
.img-slider2 {
  display: inline-flex;
  width: 30vw; 
  height: 50vh;
  margin: 0% 0% 1%;
  padding: 5%;
}

.slider-titulo {
  font-size: 2.5em;
  width: 50vw;
  line-height: 1.1;
  color: #000;
  border-bottom-style: solid ;
  margin: 5% 0% 6% 12%;
  padding: 0% 0% 2% 0%;
}

/* Estilos para el botón de WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index: 1000; /* Asegura que esté encima de otros elementos */
  cursor: pointer;
}

.whatsapp-button img {
  width: 6vw; /* Ajusta el tamaño del icono de WhatsApp según sea necesario */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.button2 {
  width: 10rem ;
  margin: -8% 0% 0% 20%;
  font-size: 1.3rem;
  padding: 0.8rem;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border: 2px #000;
  box-shadow: #a1a1da 0px 0px 10px, #6a6ad5 0px 1px 6px;
}

.vid-cont {
  text-align: center;
  justify-content: center;
}

.vid-numerologie {
  width: 60vw;
}

h2 {
  font-size: 2em;
  width: 70vw;
  line-height: 1.1;
  color: #000;
  text-align: center;
  justify-content: center;
}

.p1-numerologie {
  display: inline-flex;
  width: 90%;
  font-size: 1.1em;
  line-height: 1.1;
  color: #000;
  text-align: left;
  justify-content: left;
  padding: 0% 0% 0% 0%;
}

.p2-numerologie {
  display: flex;
  width: 85%;
  font-size: 1.4em;
  line-height: 1.1;
  color: #000;
  justify-content:space-around;
  padding: 1% 1% 1% 1%;
}

.p3-numerologie {
  display: flex;
  width: 70%;
  font-size: 1.2em;
  line-height: 2;
  color: #000;
  justify-content: space-around;
  margin: 0% 1% 1% 3%;
  padding: 1% 0% 1% 5%;
}

.img1-numerologie {
  width: 40%;
  padding: 5% 15% 3% 10%; 
}

.p4-numerologie {
  display: flex;
  width: 70%;
  font-size: 1.2em;
  line-height: 2;
  color: #000;
  justify-content: space-around;
  margin: 0% 1% 1% 3%;
  padding: 1% 0% 1% 5%;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 @media (max-width: 800px) {
  .navbar {
    width: 100%; /* Ocupará todo el ancho del contenedor */
    height: 10vh; /* Se ajustará al 10% de la altura del contenedor */
  }
}

.logo {
  width: 10%;
  padding: 1em;
}

.p2-home {
  display: inline-flex;
  width: 50%;
  font-size: 1.4em;
  line-height: 1.1;
  color: #000;
  text-align: left;
  justify-content: left;
  padding: 3% 10% 3% 3%;
}

h1 {
  font-size: 2.5em;
  width: 70vw; /* Se ajustará al 70% del ancho del contenedor */
  line-height: 1.1;
  color: #000;
  text-align: center;
  justify-content: center;
}

.img-curso, .img-libro {
  display: inline-flex;
  width: 44%;
  padding: 3%; 
}

.section4 {
  display: inline-flex;
  width: 100vw; /* Se ajustará al 100% del ancho del contenedor */
}

.p4-home {
  display: inline-flex;
  width: 50%;
  font-size: 1.4em;
  line-height: 1.1;
  color: #000;
  text-align: left;
  justify-content: left;
  padding: 3% 10% 3% 3%;
}

.img-home1 {
  width: 40%;
  padding: 3% 0% 3% 10%; 
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
